body{
    background: linear-gradient(to right, rgb(133, 153, 142), rgb(184, 136, 73));
    text-align: center;
}

h1{
    font-family: Verdana, Geneva, Tahoma;
    background-color: blanchedalmond;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(26, 44, 46);
}

.anc{
    display: flex;
    justify-content: right;
}

.anc:hover{
    background-color: rgb(207, 151, 76);
}

.color{
    border: 2px solid #ff7f50;;
    border-radius: 12px;
    padding: 5px; 
    background: linear-gradient(to right, rgb(232, 197, 100), rgb(133, 153, 142));
    
}

.enhance{
    border: 2px solid #d38c72;;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(223, 184, 184);
}

.enhance:hover{
    border: #ff7f50;
    background-color: antiquewhite;
}

.small{
    padding: 12px;
    border: 2px solid #213632;
    border-radius: 10px;
    background-color: #bd074d;
    
}

.small:hover{
    background-color: rgb(235, 108, 69);
    border:2px solid #1b3bceda;

}

.grey{
    padding: 12px;
    border:2px solid rgb(230, 210, 36) ;
    border-radius: 10px;
    background-color:rgba(7, 255, 201, 0.884);
    margin: 10px, 20px, 10px, 20px;
   
}

.grey:hover{
    background-color:rgb(47, 192, 218);
    border: 2px solid rgb(141, 26, 26);
}